<h1>RDFwriter for Treebank annotation</h1>
<h2>Usage</h2>
<ol>
<li>Post your annotation data as follows</li>
<pre>
curl -H "Content-Type:application/json" -d @annotation.json http://server.domain
</pre>

<li>You will get the RDF statements representing the annotation</li>
</ol>
